.tasks-page {
  @apply mt-12 mb-8 overflow-x-hidden pr-5 flex flex-col items-center;

  width: 98vw;

  &-tab {
    @apply border-b-2 flex items-center border-white mr-7 pb-2;

    transition: 0.2s ease-in-out;
    color: #637381;

    &_active {
      @apply border-main-black text-black;
    }
  }

  .button-chuka {
    @apply flex cursor-pointer items-center ml-8 relative bottom-0.5;

    width: 131px;
    height: 30px;
    background: rgba(14, 77, 164, 0.2);
    border-radius: 6px;
  }
}

@media screen and (max-width: 1505px) {
  .tasks-page {
    &-tab {
      @apply mr-4 text-sm;

      .button-chuka {
        @apply ml-3;
      }
    }
  }
}
