{
  "extends": ["stylelint-config-recommended", "stylelint-config-standard", "stylelint-config-standard-scss"],
  "rules": {
    "scss/double-slash-comment-whitespace-inside": "never",
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["tailwind", "layer"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["client/src/app/**/**/*.scss"]
    }
  ]
}
