.enquiries-window {
  @apply z-10 bg-white shadow-standart;

  width: 15.375rem;
  height: 100vh;

  &-header {
    @apply flex flex-col justify-between mb-6;

    height: 5.3rem;

    .add-enquiries-btn {
      @apply flex w-6 h-6 mr-4 items-center justify-center text-white text-2xl rounded-full;

      padding-right: 0.063rem;
      background: #1890ff;
    }
  }

  &-body {
    @apply mt-3 pl-2;

    &_title {
      @apply text-xs mb-1;

      color: #c4cdd5;
    }

    .enquiries-card {
      @apply flex items-center relative;

      height: 3.438rem;

      h3 {
        @apply text-xs font-medium;
      }

      p {
        @apply text-xs font-medium;
      }

      &_date {
        @apply absolute right-3;
      }

      &_pattern {
        @apply rounded-lg inline-block pl-3 pr-3;
      }
    }
  }

  &_open {
    left: 15rem;
  }

  &_closed {
    left: 4.65rem;
  }
}

@media screen and (max-width: 1400px) {
  .enquiries-window {
    &_open {
      left: 0;
    }

    &_closed {
      left: 0;
    }
  }
}
