.principial-card {
  @apply mb-12 ml-2 rounded-lg pl-6 mr-8 pt-5 shadow-scholarship-card;

  width: 18.938rem;
  height: 12.5rem;

  span {
    @apply text-gray-500;
  }

  &-row {
    @apply flex justify-between;

    &_fix {
      margin-top: 0.438rem;
    }
  }

  &-add {
    @apply flex items-center justify-center flex-col pr-8 pb-9 cursor-pointer text-gray-500 select-none;

    span {
      @apply font-semibold;
    }
  }

  &-input {
    padding-right: 1.875rem;
  }

  &-fix {
    right: 0.594rem;
  }
}
